*{ 
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
}



h1{
font-size: 77%;
font-style: normal;
font-family: Arial, Helvetica, sans-serif;    
text-align: center;

}
div{
justify-items: center;
}
