*{ 
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
}



h1{
font-size: 300%;
font-style: normal;
font-family: Arial, Helvetica, sans-serif;    
text-align: center;

}

  .image-container {
      display: flex; /* Define o container como um flex container */
        }

          .image {
            border: 2px solid #000; /* Largura e cor da borda */
              border-radius: 8px; /* Raio do canto da borda (opcional) */
              flex: 2; /* Distribui o espaço igualmente entre as imagens */
                  margin: 25px; /* Adiciona um espaço entre as imagens */
                    }
